<div class="container">
  <div class="info-bar">
    <span ng-class="{active:state.game.turn == 'x'}">Player <img src="img/sign-x.svg"></span>
    <span ng-class="{active:state.game.turn == 'o'}">Player <img src="img/sign-o.svg"></span>
  </div>
  <div class="game-area">
    <div class="game-table">
      <div class="inner">
        <div class="game-cell" ng-repeat="coord in allCoords" ng-click="putSign(coord)">
          <img class="sign" ng-src="{{signImgs[getCellValue(coord)]}}">
        </div>
      </div>
    </div>
  </div>
  <div class="action-bar">
    <button ng-click="doReset()">Reset</button>
    <button ng-click="doUndo()">Undo</button>
  </div>
</div>
